.categories {
  width: 90%;
  margin: 32px auto 0;
  .categories__content {
    @apply my-8;
    @apply gap-x-8 grid xl:grid-cols-6 xl:gap-x-4  sm:grid-cols-3 sm:gap-8 sm:h-2/4 sm:text-sm;
    @apply text-lg;

    .categories__item {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 5px;
      @apply shadow-xl;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-18px);
        transition: all 0.5s;
      }

      .categories__text {
        @apply align-middle py-1 mt-2 text-center font-semibold italic;
      }
    }
  }
}
@media screen and (max-width: 415.95px) {
  .categories {
    h2 {
      @apply text-2xl;
    }
  }
  .categories__content {
    @apply grid grid-cols-2 gap-9 text-base;
    .categories__img {
    }
    .categories__item {
    }
  }
}
