footer {
  // color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__top {
  width: 90%;
  margin: 40px auto;
}

footer .footer__top ul {
  height: 110px;
}

footer .footer__top ul .nav-item {
  flex-basis: 25%;
}

footer .footer__top ul .nav-item .nav-link {
  color: black;
  padding: 0;
}

footer .footer__top ul .nav-item .nav-link.bold {
  font-weight: 700;
}

footer .footer__top .btn-group {
  display: block;
}

footer .footer__top .btn-group .button--dropup {
  box-shadow: none;
  min-width: 160px;
  border: 1px solid black;
}

footer .footer__top .btn-group .button--dropup i {
  padding: 0 5px;
}
footer .footer__top .btn-group .button--dropup:hover {
  background-color: #fff;
  color: black;
}

footer .footer__top .btn-group .button--dropup::after {
  margin-left: 30%;
}

footer .footer__top .btn-group .dropdown-menu {
  font-size: 13px;
}

footer .footer__bottom {
  width: 90%;
  margin: 8px auto;
}

footer .footer__bottom .logo-white {
  display: none;
}

footer .footer__bottom img {
  width: 110px;
  margin-right: 10px;
}

footer .footer__bottom .nav-link {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}
