.linkrouter__config {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.list__config {
  a {
    color: black;
  };

 &:hover a {
    text-decoration: none;
    color:black
  }
}
